.loader-screen{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 2;
    background-color: rgba(0,0,0,.4);
    top: 0;
    .message-container{
        padding:2rem;
        border : 2px solid #efdcab;
        span{
            color:#fff;
            font-size:2.4rem;
        }
    }
}